

html * {
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0px;
  padding: 0px;
  min-width: 0px;
}

html, body {
  background-color:  rgb(246, 246, 246);
}


.code-frame {
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  position: fixed;
  background-color: rgba(46, 46, 46, 0.71);
}


.debug_ios {
  width: 100%;
  height: auto;
  background-color: black;
  color: white;
  min-height: 30px;
}

.top {
  width: 40px;
  height: 40px;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 99;
}

.G-login > img {
  width: 30px;
  float: left;
}

.claim-btn {
  width: 150px;
  height: 40px;
  cursor: pointer;
  margin-top: -150px;
}

.G-login:hover {
  box-shadow: 0px 0px 20px -15px black;
  cursor: pointer;
}

.space {
  margin-top: 5px;
}


.menu {
  width: 15px;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  right: 10px;
  top:10px;
  position: absolute;
  cursor: pointer;
}


.menu-img {
  margin-left: 20px;
  float: left;
  height: 100%;
}



hr {
  border: 0px;
  height: 1px;
  background-color: rgb(244, 244, 244);
  margin-bottom: 15px !important;
}

.code-text-frame > textarea {

  width: 80%;
  height: 110px;
  resize: none;
  padding: 10px;
}
.code-r1 {
  width: 300vw;
  height: 80%;
  overflow-x: hidden;
}

.in-e {
  height: 20px;
  width: 50%;
}

.img-u {
  background-color: rgb(242, 242, 242);
  width: 20vh;
  height: 20vh;
  position: relative;
  left: 50%;
  margin-left: -10vh;
}

.img-u > img {
  width: 60%;
  height: 60%;
  position: absolute;
  left: 50%;
  margin-left: -30%;
  top: 50%;
  margin-top: -30%;
}


.code {
  overflow: hidden;
  width: 100vw;
  position: absolute;
  height: 90%;
  background-color: white;
  overflow: hidden;
  bottom: -10px;
  border: 30px;
  z-index: 101;
}


.code-ti {
  margin-left: 20px;
  margin-top: 10px;
}

.code-sub {
  margin-left: 20px;
}

.code-text-frame {
  float: left;
  width: 100vw;
  padding: 10px 0px;
  border-right: 0px !important;
}

.alert {
  width: 100%;
  background-color: #FFA500;
  height: 30px;
  border-radius: 10px;
  line-height: 30px;
  color: white;

}

.menu-frame {
  z-index: 1000;
  width: 180px;
  height: auto;
  background-color: rgba(255, 255, 255, 0.1);
  background-color: white;
  top:30px;
  padding: 10px;
  line-height: 0.9;
}

.menu-item {
  height:30px;
  cursor: pointer;
}

.menu-item > h3{
  margin-top: 6px;
}


.G-login {
  width: 180px;
  background-color: rgb(247, 247, 247);
  height: 50px;
  border: 0.1px solid rgb(230, 230, 230);
  line-height: 30px;
  padding: 10px;
}


.bc {
background-image: linear-gradient(210deg, #24e3ae 50%, #22e683 90%);

color:white;
}



h1, h2, h3, h4, h5, h6 {display: inline-block;}
.ani {transition: 0.8s;}
.ce {text-align: center;}
.ri {text-align: right;}
.le {text-align: left;}
.b1 {font-weight: 100}
.b2 {font-weight: 200}
.b3 {font-weight: 300}
.b4 {font-weight: 400}
.b5 {font-weight: 500}
.b6 {font-weight: 600}
.b7 {font-weight: 700}
.b8 {font-weight: 800}
.b9 {font-weight: 900}
.f1 {font-size: 10px;}
.f2 {font-size: 15px;}
.f3 {font-size: 20px;}
.f4 {font-size: 25px;}
.f5 {font-size: 30px;}
.f6 {font-size: 35px;}
.f7 {font-size: 40px;}

.shadow {
  box-shadow: 0px 0px 20px -20px black;
}

.shadow2 {
  box-shadow: 0px 0px 20px -13px black;
}


.top > img {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 50%;
  margin-left: -10px;
  top:50%;
  margin-top:-10px;
}

input {
  padding: 5px;
}

.blur {
  backdrop-filter:blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.r1 {border-radius: 5px;}
.r2 {border-radius: 10px;}
.r3 {border-radius: 15px;}

.rf {border-radius: 100%;}
